@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2.5rem; }

p {
  font-size: 1.6rem; }

.about__heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #f16821; }

.paragraph {
  color: #4d4d4d; }

.fa-check {
  color: greenyellow; }

.instructions__heading-box {
  text-align: center; }
  .instructions__heading-box--heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #f16821;
    padding: 8rem 0; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.6rem 4rem;
  font-size: 1.6rem;
  background-color: #f16821;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .8rem; }

.btn:hover {
  background-color: rgba(241, 104, 33, 0);
  border: 0.2rem solid #fff; }

.btn-blog:hover {
  background-color: #8f2600; }

.navbar-brand {
  font-size: 4rem; }

.navbar-light .navbar-nav .nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 1.5rem;
  color: #fff; }

.row {
  width: 130rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.header {
  background-image: url("../../img/blog_3.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative; }
  .header__text-box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__primary {
    animation: moveInBottom 1s; }
    .header__primary--main {
      display: block;
      font-size: 8rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff; }
    .header__primary--sub {
      display: block;
      font-size: 3.5rem;
      font-weight: 700;
      color: #d3d3d3; }

.layer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh; }

.about {
  padding: 8rem 0; }
  .about__img--pic {
    width: 75%; }

.instructions {
  margin: 8rem 0;
  background-image: url("../../img/blog_2.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative; }
  .instructions__content {
    color: #fff; }
    .instructions__content P {
      color: #fff; }
    .instructions__content--num {
      background-color: #f16821;
      border: 0.3rem solid #fff;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      color: #fff; }

.team {
  padding-bottom: 8rem; }
  .team__img {
    width: 70%;
    border-radius: 50%;
    transition: all .5s; }
    .team__img:hover {
      transform: scale(1.1); }

.social {
  background-color: #adabab;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .social:hover {
    transform: scale(1.1);
    background-color: #4d4d4d; }

.services-col {
  display: flex; }

.services {
  background-color: #f0f0f0;
  padding-bottom: 8rem; }
  .services__icon {
    font-size: 5rem;
    color: #f16821;
    margin-right: 2rem; }
  .services__text--link {
    font-size: 1.6rem;
    color: #f16821; }

.blog__content--title {
  color: #f16821;
  margin-bottom: 1.5rem; }

.blog__content--img {
  width: 100%;
  margin-bottom: 3rem; }

.blog__content--info {
  margin-bottom: 3rem;
  color: #d3d3d3;
  font-size: 1.6rem; }
  .blog__content--info span {
    padding-right: 2rem; }
  .blog__content--info-link {
    color: #f16821; }

.btn-box {
  text-align: center;
  margin-bottom: 8rem; }

.contact {
  background-color: #f0f0f0;
  padding-bottom: 8rem; }
  .contact__details {
    background-color: #fff;
    padding: 2rem; }
    .contact__details:not(:last-child) {
      margin-bottom: 2rem; }
    .contact__details--address-para {
      color: #d3d3d3;
      margin-bottom: 2rem; }
    .contact__details--more-para {
      color: #d3d3d3;
      margin-bottom: 2rem; }
