.instructions {
    margin: 8rem 0;
    background-image: url("../../img/blog_2.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;

    &__content {
        color: $color-white;
        
        P {
            color: $color-white;
        }

        &--num {
            background-color: $color-orange;
            border: .3rem solid $color-white;
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            color: $color-white;
        }
    }
}