.team {

    &__img {
        width: 80%;
        border-radius: 50%;
    }
}

.social {
    background-color: $color-dark-grey;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
}