.btn {
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.6rem 4rem;
        font-size: 1.6rem;
        background-color: $color-orange;
        text-transform: uppercase;
        color: $color-white;
        letter-spacing: .8rem;
    }

    &:hover {
        background-color: rgba($color-orange, 0);
        border: .2rem solid $color-white;
    }
}

.btn-blog {

    &:hover {
        background-color: rgb(143, 38, 0);
    }
}