.about__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-orange;
}

.paragraph {
    font-size: 1.6rem;
    color: $color-dark-grey;
}

.fa-check {
    color: greenyellow;
}