p {
    font-size: 1.6rem;
}

.about__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-orange;
    transition: all .5s;

    &:hover {
        transform: skewX(15deg);
    }
}

.paragraph {
    color: $color-dark-grey;
}

.fa-check {
    color: greenyellow;
}

.instructions__heading-box{
    text-align: center;
    &--heading {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-orange;
        padding: 8rem 0;
        transition: all .5s;
        
        &:hover {
            transform: skewX(15deg);
        }
    }
}
